.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 90px;
  background: #5E89C4;
  z-index: 1000;
  position: fixed;

  &__label {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 39px;
    color: #FFFFFF;
    margin-top: 25px;
    margin-left: 55px;
  }

  &__button {
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    margin-right: 55px;
    margin-top: 31px;
    color: #FFFFFF;
  }
}

.main-block {
  padding: 142px 55px 52px 55px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #F6FAFF;
}

.create-record-block {
  width: 70%;
  height: 92px;

  background: #FFFFFF;
  border: 1px solid #919ACC;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;

  &.create-record-card-opened {
    width: 100%;
    height: max-content;
  }

  &__button {
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }

    padding: 30px 45px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 33px;

    color: #3F3A3A;
  }
}

.records-settings-block {
  margin: 52px 0;
  display: flex;
  justify-content: space-between;

  &__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 43px;
    display: flex;
    align-items: center;
  }

  & .date-form-field {
    font-size: 22px;
    font-family: Montserrat;
    font-weight: inherit;
    line-height: 29px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 10%);
    border: 1px solid #919ACC;
    border-radius: 4px;
    height: 92px; //нужно потом убрать и переопределить стили материала

    & .mat-form-field-wrapper {
      margin: 0;
      padding: 0;
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  &_title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #3F3A3A;
    &_icons {
      margin-left: 10px;
    }
  }
}

.icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  fill: #3F3A3A;

  &.disabled {
    pointer-events: none;
    opacity: 0.3;
  }
}
