<div class="header">
  <div class="header__label">Metacognitions</div>
  <div class="header__button"
  (click)="_logOut()">Выйти</div>
</div>

<div class="main-block">
  <div class="create-record-block"
       [class.create-record-card-opened]="isCreateRecordComponentVisible"
       (click)="_showCreateRecordComponent()">
    <div *ngIf="!isCreateRecordComponentVisible"
         class="create-record-block__button">Внести новую запись
    </div>
    <create-record-component *ngIf="isCreateRecordComponentVisible">
    </create-record-component>
  </div>
  <div class="records-settings-block">
    <div class="records-settings-block__title">Все записи</div>
  </div>
  <div class="records-settings-block__info">
    <div>
      <ng-container *ngFor="let record of records">
        <record [record]="record"></record>
      </ng-container>
    </div>
  </div>
</div>
