<div class="registration-and-authorization-page">
  <div class="registration-and-authorization-page__info-block">
    <h1 class="registration-and-authorization-page__info-block__title">Metacognition</h1>
    <div class="registration-and-authorization-page__info-block__text">
      <p>
        КПТ-дневник (дневник автоматических мыслей) — электронный журнал для записи  возникающих негативных убеждений. В этом приложении вы можете дать эмоциональную оценку своим мыслям, определить тип ментального искажения.
      </p>
      <p>
        КПТ-дневник (дневник автоматических мыслей) — электронный журнал для записи  возникающих негативных убеждений. В этом приложении вы можете дать эмоциональную оценку своим мыслям, определить тип ментального искажения.
      </p>
      <p>
        КПТ-дневник (дневник автоматических мыслей) — электронный журнал для записи  возникающих негативных убеждений. В этом приложении вы можете дать эмоциональную оценку своим мыслям, определить тип ментального искажения.
      </p>
    </div>
  </div>
  <div class="registration-and-authorization-page__form-block">
    <ng-content></ng-content>
  </div>
</div>
