<form class="registration-form" [formGroup]="formGroup">
  <h3 class="registration-form__title">Регистрация</h3>

  <div class="registration-form__inputs-block">
    <input formControlName="login" placeholder="Логин" type="text"/>
    <input formControlName="password" placeholder="Пароль" type="password"/>
    <input formControlName="repeatPassword" placeholder="Повторите пароль" type="password"/>
    <div class="registration-form__inline-error"
         *ngIf="!_isPasswordsTheSame() || authErrorMessageVisible">{{errorMessage}}</div>
  </div>

  <button
    #regButton
    class="registration-form__submit-button"
    mat-raised-button color="primary"
    [disabled]="!formGroup.valid || !_isPasswordsTheSame()"
    [textContent]="'Зарегистрироваться'"
    (click)="_onSubmitForm()">
  </button>

  <a class="registration-form__authorization-link" routerLink="/">Уже зарегистрированы?</a>
</form>
